<header>
  <h1>My Website</h1>
</header>
<nav>
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/page1">Page 1</a></li>
    <li><a href="/page2">Page 2</a></li>
    <li><a href="/page3">Page 3</a></li>
  </ul>
</nav>
<div class="theme-toggle">
  <button>Toggle Theme</button>
</div>
<div class="progress-bar">
  <div class="progress"></div>
</div>